openapi: 3.2.0
info:
  title: Akash Transactions API
  version: '1.0'
  description: 'Operations tagged Transactions across 2 of this provider''s published API definitions: akash-blockchain-rest-api.yaml, akash-console-deployment-api.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://console-api-sandbox.akash.network
tags:
- name: Transactions
paths:
  /txs/{hash}:
    get:
      deprecated: true
      summary: Get a Tx by hash
      tags:
      - Transactions
      description: Retrieve a transaction using its hash.
      parameters:
      - in: path
        name: hash
        description: Tx hash
        required: true
        x-example: BCBE20E8D46758B96AE5883B792858296AC06E51435490FBDCAE25A72B3CC76B
        schema:
          type: string
      responses:
        '200':
          description: Tx with the provided hash
          content:
            application/json:
              schema:
                type: object
                properties:
                  hash:
                    type: string
                    example: D085138D913993919295FF4B0A9107F1F2CDE0D37A87CE0644E217CBF3B49656
                  height:
                    type: number
                    example: 368
                  tx:
                    type: object
                    properties:
                      msg:
                        type: array
                        items:
                          type: string
                      fee:
                        type: object
                        properties:
                          gas:
                            type: string
                          amount:
                            type: array
                            items:
                              type: object
                              properties:
                                denom:
                                  type: string
                                  example: stake
                                amount:
                                  type: string
                                  example: '50'
                      memo:
                        type: string
                      signature:
                        type: object
                        properties:
                          signature:
                            type: string
                            example: MEUCIQD02fsDPra8MtbRsyB1w7bqTM55Wu138zQbFcWx4+CFyAIge5WNPfKIuvzBZ69MyqHsqD8S1IwiEp+iUb6VSdtlpgY=
                          pub_key:
                            type: object
                            properties:
                              type:
                                type: string
                                example: tendermint/PubKeySecp256k1
                              value:
                                type: string
                                example: Avz04VhtKJh8ACCVzlI8aTosGy0ikFXKIVHQ3jKMrosH
                          account_number:
                            type: string
                            example: '0'
                          sequence:
                            type: string
                            example: '0'
                  result:
                    type: object
                    properties:
                      log:
                        type: string
                      gas_wanted:
                        type: string
                        example: '200000'
                      gas_used:
                        type: string
                        example: '26354'
                      tags:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: string
                            value:
                              type: string
        '500':
          description: Internal Server Error
      operationId: getTxsByHash
      x-operation-id-source: derived
  /txs:
    get:
      deprecated: true
      tags:
      - Transactions
      summary: Search transactions
      description: Search transactions by events.
      parameters:
      - in: query
        name: message.action
        description: 'transaction events such as ''message.action=send'' which results in the following endpoint: ''GET /txs?message.action=send''. note that each module documents its own events. look for xx_events.md in the corresponding cosmos-sdk/docs/spec directory'
        x-example: send
        schema:
          type: string
      - in: query
        name: message.sender
        description: 'transaction tags with sender: ''GET /txs?message.action=send&message.sender=cosmos16xyempempp92x9hyzz9wrgf94r6j9h5f06pxxv'''
        x-example: cosmos16xyempempp92x9hyzz9wrgf94r6j9h5f06pxxv
        schema:
          type: string
      - in: query
        name: page
        description: Page number
        x-example: 1
        schema:
          type: integer
      - in: query
        name: limit
        description: Maximum number of items per page
        x-example: 1
        schema:
          type: integer
      - in: query
        name: tx.minheight
        description: transactions on blocks with height greater or equal this value
        x-example: 25
        schema:
          type: integer
      - in: query
        name: tx.maxheight
        description: transactions on blocks with height less than or equal this value
        x-example: 800000
        schema:
          type: integer
      responses:
        '200':
          description: All txs matching the provided events
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: number
                    example: 1
                  count:
                    type: number
                    example: 1
                  page_number:
                    type: number
                    example: 1
                  page_total:
                    type: number
                    example: 1
                  limit:
                    type: number
                    example: 30
                  txs:
                    type: array
                    items:
                      type: object
                      properties:
                        hash:
                          type: string
                          example: D085138D913993919295FF4B0A9107F1F2CDE0D37A87CE0644E217CBF3B49656
                        height:
                          type: number
                          example: 368
                        tx:
                          type: object
                          properties:
                            msg:
                              type: array
                              items:
                                type: string
                            fee:
                              type: object
                              properties:
                                gas:
                                  type: string
                                amount:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      denom:
                                        type: string
                                        example: stake
                                      amount:
                                        type: string
                                        example: '50'
                            memo:
                              type: string
                            signature:
                              type: object
                              properties:
                                signature:
                                  type: string
                                  example: MEUCIQD02fsDPra8MtbRsyB1w7bqTM55Wu138zQbFcWx4+CFyAIge5WNPfKIuvzBZ69MyqHsqD8S1IwiEp+iUb6VSdtlpgY=
                                pub_key:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: tendermint/PubKeySecp256k1
                                    value:
                                      type: string
                                      example: Avz04VhtKJh8ACCVzlI8aTosGy0ikFXKIVHQ3jKMrosH
                                account_number:
                                  type: string
                                  example: '0'
                                sequence:
                                  type: string
                                  example: '0'
                        result:
                          type: object
                          properties:
                            log:
                              type: string
                            gas_wanted:
                              type: string
                              example: '200000'
                            gas_used:
                              type: string
                              example: '26354'
                            tags:
                              type: array
                              items:
                                type: object
                                properties:
                                  key:
                                    type: string
                                  value:
                                    type: string
        '400':
          description: Invalid search events
        '500':
          description: Internal Server Error
      operationId: getTxs
      x-operation-id-source: derived
    post:
      tags:
      - Transactions
      summary: Broadcast a signed tx
      description: Broadcast a signed tx to a full node
      responses:
        '200':
          description: Tx broadcasting result
          content:
            application/json:
              schema:
                type: object
                properties:
                  check_tx:
                    type: object
                    properties:
                      code:
                        type: integer
                      data:
                        type: string
                      gas_used:
                        type: integer
                      gas_wanted:
                        type: integer
                      info:
                        type: string
                      log:
                        type: string
                      tags:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: string
                            value:
                              type: string
                    example:
                      code: 0
                      data: data
                      log: log
                      gas_used: 5000
                      gas_wanted: 10000
                      info: info
                      tags:
                      - ''
                      - ''
                  deliver_tx:
                    type: object
                    properties:
                      code:
                        type: integer
                      data:
                        type: string
                      gas_used:
                        type: integer
                      gas_wanted:
                        type: integer
                      info:
                        type: string
                      log:
                        type: string
                      tags:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: string
                            value:
                              type: string
                    example:
                      code: 5
                      data: data
                      log: log
                      gas_used: 5000
                      gas_wanted: 10000
                      info: info
                      tags:
                      - ''
                      - ''
                  hash:
                    type: string
                    example: EE5F3404034C524501629B56E0DDC38FAD651F04
                  height:
                    type: integer
        '500':
          description: Internal Server Error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tx:
                  type: object
                  properties:
                    msg:
                      type: array
                      items:
                        type: string
                    fee:
                      type: object
                      properties:
                        gas:
                          type: string
                        amount:
                          type: array
                          items:
                            type: object
                            properties:
                              denom:
                                type: string
                                example: stake
                              amount:
                                type: string
                                example: '50'
                    memo:
                      type: string
                    signature:
                      type: object
                      properties:
                        signature:
                          type: string
                          example: MEUCIQD02fsDPra8MtbRsyB1w7bqTM55Wu138zQbFcWx4+CFyAIge5WNPfKIuvzBZ69MyqHsqD8S1IwiEp+iUb6VSdtlpgY=
                        pub_key:
                          type: object
                          properties:
                            type:
                              type: string
                              example: tendermint/PubKeySecp256k1
                            value:
                              type: string
                              example: Avz04VhtKJh8ACCVzlI8aTosGy0ikFXKIVHQ3jKMrosH
                        account_number:
                          type: string
                          example: '0'
                        sequence:
                          type: string
                          example: '0'
                mode:
                  type: string
                  example: block
        description: The tx must be a signed StdTx. The supported broadcast modes include `"block"`(return after tx commit), `"sync"`(return afer CheckTx) and `"async"`(return right away).
        required: true
      operationId: postTxs
      x-operation-id-source: derived
  /txs/encode:
    post:
      deprecated: true
      tags:
      - Transactions
      summary: Encode a transaction to the Amino wire format
      description: Encode a transaction (signed or not) from JSON to base64-encoded Amino serialized bytes
      responses:
        '200':
          description: The tx was successfully decoded and re-encoded
          content:
            application/json:
              schema:
                type: object
                properties:
                  tx:
                    type: string
                    example: The base64-encoded Amino-serialized bytes for the tx
        '400':
          description: The tx was malformated
        '500':
          description: Server internal error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tx:
                  type: object
                  properties:
                    msg:
                      type: array
                      items:
                        type: string
                    fee:
                      type: object
                      properties:
                        gas:
                          type: string
                        amount:
                          type: array
                          items:
                            type: object
                            properties:
                              denom:
                                type: string
                                example: stake
                              amount:
                                type: string
                                example: '50'
                    memo:
                      type: string
                    signature:
                      type: object
                      properties:
                        signature:
                          type: string
                          example: MEUCIQD02fsDPra8MtbRsyB1w7bqTM55Wu138zQbFcWx4+CFyAIge5WNPfKIuvzBZ69MyqHsqD8S1IwiEp+iUb6VSdtlpgY=
                        pub_key:
                          type: object
                          properties:
                            type:
                              type: string
                              example: tendermint/PubKeySecp256k1
                            value:
                              type: string
                              example: Avz04VhtKJh8ACCVzlI8aTosGy0ikFXKIVHQ3jKMrosH
                        account_number:
                          type: string
                          example: '0'
                        sequence:
                          type: string
                          example: '0'
        description: The tx to encode
        required: true
      operationId: postTxsEncode
      x-operation-id-source: derived
  /txs/decode:
    post:
      deprecated: true
      tags:
      - Transactions
      summary: Decode a transaction from the Amino wire format
      description: Decode a transaction (signed or not) from base64-encoded Amino serialized bytes to JSON
      responses:
        '200':
          description: The tx was successfully decoded
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: array
                    items:
                      type: string
                  fee:
                    type: object
                    properties:
                      gas:
                        type: string
                      amount:
                        type: array
                        items:
                          type: object
                          properties:
                            denom:
                              type: string
                              example: stake
                            amount:
                              type: string
                              example: '50'
                  memo:
                    type: string
                  signature:
                    type: object
                    properties:
                      signature:
                        type: string
                        example: MEUCIQD02fsDPra8MtbRsyB1w7bqTM55Wu138zQbFcWx4+CFyAIge5WNPfKIuvzBZ69MyqHsqD8S1IwiEp+iUb6VSdtlpgY=
                      pub_key:
                        type: object
                        properties:
                          type:
                            type: string
                            example: tendermint/PubKeySecp256k1
                          value:
                            type: string
                            example: Avz04VhtKJh8ACCVzlI8aTosGy0ikFXKIVHQ3jKMrosH
                      account_number:
                        type: string
                        example: '0'
                      sequence:
                        type: string
                        example: '0'
        '400':
          description: The tx was malformated
        '500':
          description: Server internal error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tx:
                  type: string
                  example: SvBiXe4KPqijYZoKFFHEzJ8c2HPAfv2EFUcIhx0yPagwEhTy0vPA+GGhCEslKXa4Af0uB+mfShoMCgVzdGFrZRIDMTAwEgQQwJoM
        description: The tx to decode
        required: true
      operationId: postTxsDecode
      x-operation-id-source: derived
  /v1/transactions:
    get:
      summary: Get a list of transactions
      tags:
      - Transactions
      security: []
      parameters:
      - schema:
          type: number
          description: Number of transactions to return
          minimum: 1
          maximum: 100
          example: 20
          default: 20
        required: false
        name: limit
        in: query
      responses:
        '200':
          description: Returns transaction list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    height:
                      type: number
                    datetime:
                      type: string
                    hash:
                      type: string
                    isSuccess:
                      type: boolean
                    error:
                      type:
                      - string
                      - 'null'
                    gasUsed:
                      type: number
                    gasWanted:
                      type: number
                    fee:
                      type: number
                    memo:
                      type: string
                    messages:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          type:
                            type: string
                          amount:
                            type: number
                        required:
                        - id
                        - type
                        - amount
                  required:
                  - height
                  - datetime
                  - hash
                  - isSuccess
                  - error
                  - gasUsed
                  - gasWanted
                  - fee
                  - memo
                  - messages
      operationId: getV1Transactions
      x-operation-id-source: derived
    servers:
    - url: https://console-api-sandbox.akash.network
  /v1/transactions/{hash}:
    get:
      summary: Get a transaction by hash
      tags:
      - Transactions
      security: []
      parameters:
      - schema:
          type: string
          minLength: 1
          description: Transaction hash
          example: A19F1950D97E576F0D7B591D71A8D0366AA8BA0A7F3DA76F44769188644BE9EB
        required: true
        name: hash
        in: path
      responses:
        '200':
          description: Returns predicted block date
          content:
            application/json:
              schema:
                type: object
                properties:
                  height:
                    type: number
                  datetime:
                    type: string
                  hash:
                    type: string
                  isSuccess:
                    type: boolean
                  multisigThreshold:
                    type: number
                  signers:
                    type: array
                    items:
                      type: string
                  error:
                    type:
                    - string
                    - 'null'
                  gasUsed:
                    type: number
                  gasWanted:
                    type: number
                  fee:
                    type: number
                  memo:
                    type: string
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        data:
                          type: object
                          additionalProperties:
                            type: string
                        relatedDeploymentId:
                          type:
                          - string
                          - 'null'
                      required:
                      - id
                      - type
                      - data
                required:
                - height
                - datetime
                - hash
                - isSuccess
                - signers
                - error
                - gasUsed
                - gasWanted
                - fee
                - memo
                - messages
        '404':
          description: Transaction not found
      operationId: getV1TransactionsByHash
      x-operation-id-source: derived
    servers:
    - url: https://console-api-sandbox.akash.network
  /v1/addresses/{address}/transactions/{skip}/{limit}:
    get:
      summary: Get a list of transactions for a given address
      tags:
      - Transactions
      security: []
      parameters:
      - schema:
          type: string
          description: Wallet Address
          example: akash13265twfqejnma6cc93rw5dxk4cldyz2zyy8cdm
        required: true
        name: address
        in: path
      - schema:
          type:
          - number
          - 'null'
          minimum: 0
          description: Transactions to skip
          example: 10
        required: false
        name: skip
        in: path
      - schema:
          type: number
          minimum: 1
          maximum: 100
          description: Transactions to return
          example: 10
        required: true
        name: limit
        in: path
      responses:
        '200':
          description: Returns transaction list
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        height:
                          type: number
                        datetime:
                          type: string
                        hash:
                          type: string
                        isSuccess:
                          type: boolean
                        error:
                          type:
                          - string
                          - 'null'
                        gasUsed:
                          type: number
                        gasWanted:
                          type: number
                        fee:
                          type: number
                        memo:
                          type:
                          - string
                          - 'null'
                        isSigner:
                          type: boolean
                        messages:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              type:
                                type: string
                              amount:
                                type: number
                              isReceiver:
                                type: boolean
                            required:
                            - id
                            - type
                            - amount
                            - isReceiver
                      required:
                      - height
                      - datetime
                      - hash
                      - isSuccess
                      - error
                      - gasUsed
                      - gasWanted
                      - fee
                      - memo
                      - isSigner
                      - messages
                required:
                - count
                - results
        '400':
          description: Invalid address or parameters
      operationId: getV1AddressesByAddressTransactionsBySkipByLimit
      x-operation-id-source: derived
    servers:
    - url: https://console-api-sandbox.akash.network
components:
  securitySchemes:
    kms:
      type: http
      scheme: basic
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT token for authenticated users, sent in "Authorization: Bearer %token" header.'
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for programmatic access.
    x-user-id:
      type: apiKey
      in: header
      name: x-user-id
    x-owner-address:
      type: apiKey
      in: header
      name: x-owner-address
x-refined-from:
- akash-blockchain-rest-api.yaml
- akash-console-deployment-api.json
