openapi: 3.2.0
info:
  title: Akash Network Console Wallet Setting API
  description: API providing data to the Akash Network Console
  version: v1
servers:
- url: https://console-api-sandbox.akash.network
tags:
- name: WalletSetting
paths:
  /v1/wallet-settings:
    get:
      summary: Get wallet settings
      description: Retrieves the wallet settings for the current user's wallet
      tags:
      - WalletSetting
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      responses:
        '200':
          description: Wallet settings retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      autoReloadEnabled:
                        type: boolean
                    required:
                    - autoReloadEnabled
                required:
                - data
        '404':
          description: UserWallet Not Found
      operationId: getV1WalletSettings
      x-operation-id-source: derived
    post:
      summary: Create wallet settings
      description: Creates wallet settings for a user wallet
      tags:
      - WalletSetting
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    autoReloadEnabled:
                      type: boolean
                  required:
                  - autoReloadEnabled
              required:
              - data
      responses:
        '200':
          description: Wallet settings created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      autoReloadEnabled:
                        type: boolean
                    required:
                    - autoReloadEnabled
                required:
                - data
        '404':
          description: UserWallet Not Found
      operationId: postV1WalletSettings
      x-operation-id-source: derived
    put:
      summary: Update wallet settings
      description: Updates wallet settings for a user wallet
      tags:
      - WalletSetting
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    autoReloadEnabled:
                      type: boolean
                  required:
                  - autoReloadEnabled
              required:
              - data
      responses:
        '200':
          description: Wallet settings updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      autoReloadEnabled:
                        type: boolean
                    required:
                    - autoReloadEnabled
                required:
                - data
        '404':
          description: UserWallet Not Found
      operationId: putV1WalletSettings
      x-operation-id-source: derived
    delete:
      summary: Delete wallet settings
      description: Deletes wallet settings for a user wallet
      tags:
      - WalletSetting
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      responses:
        '204':
          description: Wallet settings deleted successfully
        '404':
          description: UserWallet Not Found
      operationId: deleteV1WalletSettings
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT token for authenticated users, sent in "Authorization: Bearer %token" header.'
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for programmatic access.
    x-user-id:
      type: apiKey
      in: header
      name: x-user-id
    x-owner-address:
      type: apiKey
      in: header
      name: x-owner-address
