openapi: 3.2.0
info:
  title: Akash Network Console JWT Token API
  description: API providing data to the Akash Network Console
  version: v1
servers:
- url: https://console-api-sandbox.akash.network
tags:
- name: JWT Token
paths:
  /v1/create-jwt-token:
    post:
      summary: Create new JWT token for managed wallet
      tags:
      - JWT Token
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    ttl:
                      type: integer
                      exclusiveMinimum: 0
                    leases:
                      type: object
                      additionalProperties: {}
                  required:
                  - ttl
                  - leases
              required:
              - data
      responses:
        '201':
          description: JWT token created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                    required:
                    - token
                required:
                - data
      operationId: postV1CreateJwtToken
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT token for authenticated users, sent in "Authorization: Bearer %token" header.'
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for programmatic access.
    x-user-id:
      type: apiKey
      in: header
      name: x-user-id
    x-owner-address:
      type: apiKey
      in: header
      name: x-owner-address
