openapi: 3.2.0
info:
  title: Akash Network Console Payment API
  description: API providing data to the Akash Network Console
  version: v1
servers:
- url: https://console-api-sandbox.akash.network
tags:
- name: Payment
paths:
  /v1/stripe/prices:
    get:
      summary: Get available Stripe pricing options
      description: Retrieves the list of available pricing options for wallet top-ups, including custom amounts and standard pricing tiers
      tags:
      - Payment
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      responses:
        '200':
          description: Available pricing options retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        currency:
                          type: string
                        unitAmount:
                          type: number
                        isCustom:
                          type: boolean
                      required:
                      - currency
                      - unitAmount
                      - isCustom
                required:
                - data
      operationId: getV1StripePrices
      x-operation-id-source: derived
  /v1/stripe/coupons/apply:
    post:
      summary: Apply a coupon to the current user
      tags:
      - Payment
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    couponId:
                      type: string
                    userId:
                      type: string
                    awaitResolved:
                      type: boolean
                  required:
                  - couponId
                  - userId
              required:
              - data
      responses:
        '200':
          description: Coupon applied successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      coupon:
                        type:
                        - object
                        - 'null'
                        properties:
                          id:
                            type: string
                          percent_off:
                            type:
                            - number
                            - 'null'
                          amount_off:
                            type:
                            - number
                            - 'null'
                          valid:
                            type:
                            - boolean
                            - 'null'
                          name:
                            type:
                            - string
                            - 'null'
                          description:
                            type:
                            - string
                            - 'null'
                        required:
                        - id
                      amountAdded:
                        type: number
                      transactionId:
                        type: string
                      transactionStatus:
                        type: string
                        enum:
                        - created
                        - pending
                        - requires_action
                        - succeeded
                        - failed
                        - refunded
                        - canceled
                      error:
                        type: object
                        properties:
                          message:
                            type: string
                          code:
                            type: string
                          type:
                            type: string
                        required:
                        - message
                required:
                - data
      operationId: postV1StripeCouponsApply
      x-operation-id-source: derived
  /v1/stripe/customers/organization:
    put:
      summary: Update customer organization
      description: Updates the organization/business name for the current user's Stripe customer account
      tags:
      - Payment
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                organization:
                  type: string
              required:
              - organization
      responses:
        '204':
          description: Organization updated successfully
      operationId: putV1StripeCustomersOrganization
      x-operation-id-source: derived
  /v1/stripe/payment-methods/setup:
    post:
      summary: Create a Stripe SetupIntent for adding a payment method
      description: Creates a Stripe SetupIntent that allows users to securely add payment methods to their account. The SetupIntent provides a client secret that can be used with Stripe's frontend SDKs to collect payment method details.
      tags:
      - Payment
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      responses:
        '200':
          description: SetupIntent created successfully with client secret
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      clientSecret:
                        type:
                        - string
                        - 'null'
                    required:
                    - clientSecret
                required:
                - data
      operationId: postV1StripePaymentMethodsSetup
      x-operation-id-source: derived
  /v1/stripe/payment-methods/default:
    post:
      summary: Marks a payment method as the default
      tags:
      - Payment
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    id:
                      type: string
                  required:
                  - id
              required:
              - data
      responses:
        '200':
          description: Payment method is marked as the default successfully.
      operationId: postV1StripePaymentMethodsDefault
      x-operation-id-source: derived
    get:
      summary: Get the default payment method for the current user
      description: Retrieves the default payment method associated with the current user's account, including card details, validation status, and billing information.
      tags:
      - Payment
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      responses:
        '200':
          description: Default payment method retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                      validated:
                        type: boolean
                      isDefault:
                        type: boolean
                      card:
                        type:
                        - object
                        - 'null'
                        properties:
                          brand:
                            type:
                            - string
                            - 'null'
                          last4:
                            type:
                            - string
                            - 'null'
                          exp_month:
                            type: number
                          exp_year:
                            type: number
                          funding:
                            type:
                            - string
                            - 'null'
                          country:
                            type:
                            - string
                            - 'null'
                          network:
                            type:
                            - string
                            - 'null'
                          three_d_secure_usage:
                            type:
                            - object
                            - 'null'
                            properties:
                              supported:
                                type:
                                - boolean
                                - 'null'
                        required:
                        - brand
                        - last4
                        - exp_month
                        - exp_year
                      link:
                        type:
                        - object
                        - 'null'
                        properties:
                          email:
                            type:
                            - string
                            - 'null'
                      billing_details:
                        type: object
                        properties:
                          address:
                            type:
                            - object
                            - 'null'
                            properties:
                              city:
                                type:
                                - string
                                - 'null'
                              country:
                                type:
                                - string
                                - 'null'
                              line1:
                                type:
                                - string
                                - 'null'
                              line2:
                                type:
                                - string
                                - 'null'
                              postal_code:
                                type:
                                - string
                                - 'null'
                              state:
                                type:
                                - string
                                - 'null'
                            required:
                            - city
                            - country
                            - line1
                            - line2
                            - postal_code
                            - state
                          email:
                            type:
                            - string
                            - 'null'
                          name:
                            type:
                            - string
                            - 'null'
                          phone:
                            type:
                            - string
                            - 'null'
                    required:
                    - type
                required:
                - data
        '404':
          description: Default payment method not found
      operationId: getV1StripePaymentMethodsDefault
      x-operation-id-source: derived
  /v1/stripe/payment-methods:
    get:
      summary: Get all payment methods for the current user
      description: Retrieves all saved payment methods associated with the current user's account, including card details, validation status, and billing information.
      tags:
      - Payment
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      responses:
        '200':
          description: Payment methods retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        validated:
                          type: boolean
                        isDefault:
                          type: boolean
                        card:
                          type:
                          - object
                          - 'null'
                          properties:
                            brand:
                              type:
                              - string
                              - 'null'
                            last4:
                              type:
                              - string
                              - 'null'
                            exp_month:
                              type: number
                            exp_year:
                              type: number
                            funding:
                              type:
                              - string
                              - 'null'
                            country:
                              type:
                              - string
                              - 'null'
                            network:
                              type:
                              - string
                              - 'null'
                            three_d_secure_usage:
                              type:
                              - object
                              - 'null'
                              properties:
                                supported:
                                  type:
                                  - boolean
                                  - 'null'
                          required:
                          - brand
                          - last4
                          - exp_month
                          - exp_year
                        link:
                          type:
                          - object
                          - 'null'
                          properties:
                            email:
                              type:
                              - string
                              - 'null'
                        billing_details:
                          type: object
                          properties:
                            address:
                              type:
                              - object
                              - 'null'
                              properties:
                                city:
                                  type:
                                  - string
                                  - 'null'
                                country:
                                  type:
                                  - string
                                  - 'null'
                                line1:
                                  type:
                                  - string
                                  - 'null'
                                line2:
                                  type:
                                  - string
                                  - 'null'
                                postal_code:
                                  type:
                                  - string
                                  - 'null'
                                state:
                                  type:
                                  - string
                                  - 'null'
                              required:
                              - city
                              - country
                              - line1
                              - line2
                              - postal_code
                              - state
                            email:
                              type:
                              - string
                              - 'null'
                            name:
                              type:
                              - string
                              - 'null'
                            phone:
                              type:
                              - string
                              - 'null'
                      required:
                      - type
                required:
                - data
      operationId: getV1StripePaymentMethods
      x-operation-id-source: derived
  /v1/stripe/payment-methods/{paymentMethodId}:
    delete:
      summary: Remove a payment method
      description: Permanently removes a saved payment method from the user's account. This action cannot be undone.
      tags:
      - Payment
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - schema:
          type: string
          description: The unique identifier of the payment method to remove
          example: pm_1234567890
        required: true
        name: paymentMethodId
        in: path
      responses:
        '204':
          description: Payment method removed successfully
      operationId: deleteV1StripePaymentMethodsByPaymentMethodId
      x-operation-id-source: derived
  /v1/stripe/payment-methods/validate:
    post:
      summary: Validates a payment method after 3D Secure authentication
      description: Completes the validation process for a payment method that required 3D Secure authentication. This endpoint should be called after the user completes the 3D Secure challenge.
      tags:
      - Payment
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    paymentMethodId:
                      type: string
                    paymentIntentId:
                      type: string
                  required:
                  - paymentMethodId
                  - paymentIntentId
              required:
              - data
      responses:
        '200':
          description: Payment method validated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                required:
                - success
      operationId: postV1StripePaymentMethodsValidate
      x-operation-id-source: derived
  /v1/stripe/transactions/confirm:
    post:
      summary: Confirm a payment using a saved payment method
      description: Processes a payment using a previously saved payment method. This endpoint handles wallet top-ups and may require 3D Secure authentication for certain payment methods or amounts.
      tags:
      - Payment
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    userId:
                      type: string
                    paymentMethodId:
                      type: string
                    amount:
                      type: number
                      minimum: 20
                    currency:
                      type: string
                    awaitResolved:
                      type: boolean
                  required:
                  - userId
                  - paymentMethodId
                  - amount
                  - currency
              required:
              - data
      responses:
        '200':
          description: Payment processed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                      requiresAction:
                        type: boolean
                      clientSecret:
                        type: string
                      paymentIntentId:
                        type: string
                      transactionId:
                        type: string
                      transactionStatus:
                        type: string
                        enum:
                        - created
                        - pending
                        - requires_action
                        - succeeded
                        - failed
                        - refunded
                        - canceled
                    required:
                    - success
                    - transactionId
                required:
                - data
        '202':
          description: 3D Secure authentication required to complete payment
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                      requiresAction:
                        type: boolean
                      clientSecret:
                        type: string
                      paymentIntentId:
                        type: string
                      transactionId:
                        type: string
                      transactionStatus:
                        type: string
                        enum:
                        - created
                        - pending
                        - requires_action
                        - succeeded
                        - failed
                        - refunded
                        - canceled
                    required:
                    - success
                    - transactionId
                required:
                - data
      operationId: postV1StripeTransactionsConfirm
      x-operation-id-source: derived
  /v1/stripe/transactions:
    get:
      summary: Get transaction history for the current customer
      tags:
      - Payment
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - schema:
          type: number
          description: Number of transactions to return
          minimum: 1
          maximum: 100
          example: 100
          default: 100
        required: false
        name: limit
        in: query
      - schema:
          type: string
          description: ID of the last transaction from the previous page (if paginating forwards)
          example: ch_1234567890
        required: false
        name: startingAfter
        in: query
      - schema:
          type: string
          description: ID of the first transaction from the previous page (if paginating backwards)
          example: ch_0987654321
        required: false
        name: endingBefore
        in: query
      - schema:
          type: string
          format: date-time
          description: Start date for filtering transactions (inclusive)
          example: '2025-01-01T00:00:00Z'
        required: false
        name: startDate
        in: query
      - schema:
          type: string
          format: date-time
          description: End date for filtering transactions (inclusive)
          example: '2025-01-02T00:00:00Z'
        required: false
        name: endDate
        in: query
      responses:
        '200':
          description: Customer transactions retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      transactions:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            amount:
                              type: number
                            currency:
                              type: string
                            status:
                              type: string
                            created:
                              type: number
                            paymentMethod:
                              type:
                              - object
                              - 'null'
                              properties:
                                type:
                                  type: string
                                validated:
                                  type: boolean
                                isDefault:
                                  type: boolean
                                card:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    brand:
                                      type:
                                      - string
                                      - 'null'
                                    last4:
                                      type:
                                      - string
                                      - 'null'
                                    exp_month:
                                      type: number
                                    exp_year:
                                      type: number
                                    funding:
                                      type:
                                      - string
                                      - 'null'
                                    country:
                                      type:
                                      - string
                                      - 'null'
                                    network:
                                      type:
                                      - string
                                      - 'null'
                                    three_d_secure_usage:
                                      type:
                                      - object
                                      - 'null'
                                      properties:
                                        supported:
                                          type:
                                          - boolean
                                          - 'null'
                                  required:
                                  - brand
                                  - last4
                                  - exp_month
                                  - exp_year
                                link:
                                  type:
                                  - object
                                  - 'null'
                                  properties:
                                    email:
                                      type:
                                      - string
                                      - 'null'
                                billing_details:
                                  type: object
                                  properties:
                                    address:
                                      type:
                                      - object
                                      - 'null'
                                      properties:
                                        city:
                                          type:
                                          - string
                                          - 'null'
                                        country:
                                          type:
                                          - string
                                          - 'null'
                                        line1:
                                          type:
                                          - string
                                          - 'null'
                                        line2:
                                          type:
                                          - string
                                          - 'null'
                                        postal_code:
                                          type:
                                          - string
                                          - 'null'
                                        state:
                                          type:
                                          - string
                                          - 'null'
                                      required:
                                      - city
                                      - country
                                      - line1
                                      - line2
                                      - postal_code
                                      - state
                                    email:
                                      type:
                                      - string
                                      - 'null'
                                    name:
                                      type:
                                      - string
                                      - 'null'
                                    phone:
                                      type:
                                      - string
                                      - 'null'
                              required:
                              - type
                            receiptUrl:
                              type:
                              - string
                              - 'null'
                            description:
                              type:
                              - string
                              - 'null'
                            metadata:
                              type:
                              - object
                              - 'null'
                              additionalProperties:
                                type: string
                          required:
                          - id
                          - amount
                          - currency
                          - status
                          - created
                          - paymentMethod
                      hasMore:
                        type: boolean
                      nextPage:
                        type:
                        - string
                        - 'null'
                    required:
                    - transactions
                    - hasMore
                required:
                - data
      operationId: getV1StripeTransactions
      x-operation-id-source: derived
  /v1/stripe/transactions/export:
    get:
      summary: Export transaction history as CSV for the current customer
      tags:
      - Payment
      security:
      - BearerAuth: []
      - ApiKeyAuth: []
      parameters:
      - schema:
          type: string
          description: Timezone for date formatting in the CSV
          example: America/New_York
        required: true
        name: timezone
        in: query
      - schema:
          type: string
          format: date-time
          description: Start date for filtering transactions (inclusive)
          example: '2025-01-01T00:00:00Z'
        required: true
        name: startDate
        in: query
      - schema:
          type: string
          format: date-time
          description: End date for filtering transactions (inclusive)
          example: '2025-01-02T00:00:00Z'
        required: true
        name: endDate
        in: query
      responses:
        '200':
          description: CSV file with transaction data
          content:
            text/csv:
              schema:
                type: string
                format: binary
      operationId: getV1StripeTransactionsExport
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT token for authenticated users, sent in "Authorization: Bearer %token" header.'
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for programmatic access.
    x-user-id:
      type: apiKey
      in: header
      name: x-user-id
    x-owner-address:
      type: apiKey
      in: header
      name: x-owner-address
