openapi: 3.2.0
info:
  title: Akash Auth API
  version: '1.0'
  description: 'Operations tagged Auth across 2 of this provider''s published API definitions: akash-blockchain-rest-api.yaml, akash-console-deployment-api.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://console-api-sandbox.akash.network
tags:
- name: Auth
paths:
  /auth/accounts/{address}:
    get:
      deprecated: true
      summary: Get the account information on blockchain
      tags:
      - Auth
      parameters:
      - in: path
        name: address
        description: Account address
        required: true
        x-example: cosmos16xyempempp92x9hyzz9wrgf94r6j9h5f06pxxv
        schema:
          type: string
      responses:
        '200':
          description: Account information on the blockchain
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  value:
                    type: object
                    properties:
                      account_number:
                        type: string
                      address:
                        type: string
                      coins:
                        type: array
                        items:
                          type: object
                          properties:
                            denom:
                              type: string
                              example: stake
                            amount:
                              type: string
                              example: '50'
                      public_key:
                        type: object
                        properties:
                          type:
                            type: string
                          value:
                            type: string
                      sequence:
                        type: string
        '500':
          description: Server internel error
      operationId: getAuthAccountsByAddress
      x-operation-id-source: derived
  /v1/auth/signup:
    post:
      summary: Creates a new user without sending a verification email
      tags:
      - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
              required:
              - email
              - password
      responses:
        '204':
          description: User created successfully
      operationId: postV1AuthSignup
      x-operation-id-source: derived
    servers:
    - url: https://console-api-sandbox.akash.network
components:
  securitySchemes:
    kms:
      type: http
      scheme: basic
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT token for authenticated users, sent in "Authorization: Bearer %token" header.'
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for programmatic access.
    x-user-id:
      type: apiKey
      in: header
      name: x-user-id
    x-owner-address:
      type: apiKey
      in: header
      name: x-owner-address
x-refined-from:
- akash-blockchain-rest-api.yaml
- akash-console-deployment-api.json
