openapi: 3.2.0
info:
  title: Akash Network Console Alert API
  description: API providing data to the Akash Network Console
  version: v1
servers:
- url: https://console-api-sandbox.akash.network
tags:
- name: Alert
paths:
  /v1/alerts:
    post:
      operationId: createAlert
      parameters:
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertCreateInput'
      responses:
        '201':
          description: Returns the created alert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertOutputResponse'
        '400':
          description: Validation error responded when some request parameters are invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized error responded when the user is not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorResponse'
        '403':
          description: Forbidden error responded when the user is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorResponse'
        '500':
          description: Internal server error, should probably be reported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
      tags:
      - Alert
      summary: Create alert
      x-summary-source: derived
    get:
      operationId: listAlerts
      parameters:
      - name: limit
        required: false
        in: query
        description: Number of items per page
        schema:
          type: number
      - name: page
        required: false
        in: query
        description: Page number
        schema:
          type: number
      - name: type
        required: false
        in: query
        description: Chain message type, used in conjunction with dseq to filter alerts liked to a specific deployment
        schema:
          type: string
      - name: dseq
        required: false
        in: query
        description: Linked deployment's dseq
        schema:
          type: string
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Returns the list of alerts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertListOutputResponse'
        '400':
          description: Validation error responded when some request parameters are invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized error responded when the user is not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorResponse'
        '403':
          description: Forbidden error responded when the user is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorResponse'
        '500':
          description: Internal server error, should probably be reported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
      tags:
      - Alert
      summary: List alerts
      x-summary-source: derived
  /v1/alerts/{id}:
    get:
      operationId: getAlert
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Returns the requested alert by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertOutputResponse'
        '400':
          description: Validation error responded when some request parameters are invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized error responded when the user is not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorResponse'
        '403':
          description: Forbidden error responded when the user is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorResponse'
        '500':
          description: Internal server error, should probably be reported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
      tags:
      - Alert
      summary: Get alert
      x-summary-source: derived
    patch:
      operationId: updateAlert
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertPatchInput'
      responses:
        '200':
          description: Returns the updated alert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertOutputResponse'
        '400':
          description: Validation error responded when some request parameters are invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized error responded when the user is not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorResponse'
        '403':
          description: Forbidden error responded when the user is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorResponse'
        '500':
          description: Internal server error, should probably be reported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
      tags:
      - Alert
      summary: Update alert
      x-summary-source: derived
    delete:
      operationId: deleteAlert
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Returns the deleted alert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertOutputResponse'
        '400':
          description: Validation error responded when some request parameters are invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized error responded when the user is not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorResponse'
        '403':
          description: Forbidden error responded when the user is not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorResponse'
        '500':
          description: Internal server error, should probably be reported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
      tags:
      - Alert
      summary: Delete alert
      x-summary-source: derived
components:
  schemas:
    InternalServerErrorResponse:
      type: object
      properties:
        statusCode:
          type: number
          minimum: 500
          maximum: 500
        message:
          type: string
      required:
      - statusCode
      - message
    ForbiddenErrorResponse:
      type: object
      properties:
        statusCode:
          type: number
          minimum: 403
          maximum: 403
        message:
          type: string
      required:
      - statusCode
      - message
    AlertPatchInput:
      type: object
      properties:
        data:
          type: object
          properties:
            notificationChannelId:
              type: string
              format: uuid
            name:
              type: string
              minLength: 3
            enabled:
              type: boolean
              default: true
            summary:
              type: string
              minLength: 3
            description:
              type: string
              minLength: 3
            conditions:
              oneOf:
              - oneOf:
                - type: object
                  properties:
                    operator:
                      type: string
                      enum:
                      - and
                    value:
                      type: array
                      minItems: 2
                      items:
                        type: object
                        properties:
                          operator:
                            oneOf:
                            - type: string
                              enum:
                              - eq
                            - type: string
                              enum:
                              - lt
                            - type: string
                              enum:
                              - gt
                            - type: string
                              enum:
                              - lte
                            - type: string
                              enum:
                              - gte
                          field:
                            type: string
                          value:
                            oneOf:
                            - type: string
                            - type: number
                            - type: boolean
                        required:
                        - operator
                        - field
                        - value
                  required:
                  - operator
                  - value
                - type: object
                  properties:
                    operator:
                      type: string
                      enum:
                      - or
                    value:
                      type: array
                      minItems: 2
                      items:
                        type: object
                        properties:
                          operator:
                            oneOf:
                            - type: string
                              enum:
                              - eq
                            - type: string
                              enum:
                              - lt
                            - type: string
                              enum:
                              - gt
                            - type: string
                              enum:
                              - lte
                            - type: string
                              enum:
                              - gte
                          field:
                            type: string
                          value:
                            oneOf:
                            - type: string
                            - type: number
                            - type: boolean
                        required:
                        - operator
                        - field
                        - value
                  required:
                  - operator
                  - value
                - type: object
                  properties:
                    operator:
                      oneOf:
                      - type: string
                        enum:
                        - eq
                      - type: string
                        enum:
                        - lt
                      - type: string
                        enum:
                        - gt
                      - type: string
                        enum:
                        - lte
                      - type: string
                        enum:
                        - gte
                    field:
                      type: string
                    value:
                      oneOf:
                      - type: string
                      - type: number
                      - type: boolean
                  required:
                  - operator
                  - field
                  - value
              - oneOf:
                - type: object
                  properties:
                    operator:
                      type: string
                      enum:
                      - and
                    value:
                      type: array
                      minItems: 2
                      items:
                        type: object
                        properties:
                          operator:
                            oneOf:
                            - type: string
                              enum:
                              - eq
                            - type: string
                              enum:
                              - lt
                            - type: string
                              enum:
                              - gt
                            - type: string
                              enum:
                              - lte
                            - type: string
                              enum:
                              - gte
                          field:
                            type: string
                            enum:
                            - balance
                          value:
                            type: number
                        required:
                        - operator
                        - field
                        - value
                  required:
                  - operator
                  - value
                - type: object
                  properties:
                    operator:
                      type: string
                      enum:
                      - or
                    value:
                      type: array
                      minItems: 2
                      items:
                        type: object
                        properties:
                          operator:
                            oneOf:
                            - type: string
                              enum:
                              - eq
                            - type: string
                              enum:
                              - lt
                            - type: string
                              enum:
                              - gt
                            - type: string
                              enum:
                              - lte
                            - type: string
                              enum:
                              - gte
                          field:
                            type: string
                            enum:
                            - balance
                          value:
                            type: number
                        required:
                        - operator
                        - field
                        - value
                  required:
                  - operator
                  - value
                - type: object
                  properties:
                    operator:
                      oneOf:
                      - type: string
                        enum:
                        - eq
                      - type: string
                        enum:
                        - lt
                      - type: string
                        enum:
                        - gt
                      - type: string
                        enum:
                        - lte
                      - type: string
                        enum:
                        - gte
                    field:
                      type: string
                      enum:
                      - balance
                    value:
                      type: number
                  required:
                  - operator
                  - field
                  - value
      required:
      - data
    ValidationErrorResponse:
      type: object
      properties:
        statusCode:
          type: number
          minimum: 400
          maximum: 400
        message:
          type: string
        errors:
          type: object
          properties:
            issues:
              type: array
              items:
                type: object
                properties: {}
          required:
          - issues
      required:
      - statusCode
      - message
      - errors
    AlertOutputResponse:
      type: object
      properties:
        data:
          oneOf:
          - type: object
            properties:
              notificationChannelId:
                type: string
                format: uuid
              name:
                type: string
                minLength: 3
              enabled:
                type: boolean
              summary:
                type: string
                minLength: 3
              description:
                type: string
                minLength: 3
              id:
                type: string
                format: uuid
              userId:
                type: string
                format: uuid
              notificationChannelName:
                type: string
              status:
                type: string
              createdAt: {}
              updatedAt: {}
              params:
                type: object
                properties:
                  dseq:
                    type: string
                    pattern: ^\d+$
                  type:
                    type: string
                  suppressedBySystem:
                    type: boolean
                required:
                - dseq
                - type
              conditions:
                oneOf:
                - type: object
                  properties:
                    operator:
                      type: string
                      enum:
                      - and
                    value:
                      type: array
                      minItems: 2
                      items:
                        type: object
                        properties:
                          operator:
                            oneOf:
                            - type: string
                              enum:
                              - eq
                            - type: string
                              enum:
                              - lt
                            - type: string
                              enum:
                              - gt
                            - type: string
                              enum:
                              - lte
                            - type: string
                              enum:
                              - gte
                          field:
                            type: string
                          value:
                            oneOf:
                            - type: string
                            - type: number
                            - type: boolean
                        required:
                        - operator
                        - field
                        - value
                  required:
                  - operator
                  - value
                - type: object
                  properties:
                    operator:
                      type: string
                      enum:
                      - or
                    value:
                      type: array
                      minItems: 2
                      items:
                        type: object
                        properties:
                          operator:
                            oneOf:
                            - type: string
                              enum:
                              - eq
                            - type: string
                              enum:
                              - lt
                            - type: string
                              enum:
                              - gt
                            - type: string
                              enum:
                              - lte
                            - type: string
                              enum:
                              - gte
                          field:
                            type: string
                          value:
                            oneOf:
                            - type: string
                            - type: number
                            - type: boolean
                        required:
                        - operator
                        - field
                        - value
                  required:
                  - operator
                  - value
                - type: object
                  properties:
                    operator:
                      oneOf:
                      - type: string
                        enum:
                        - eq
                      - type: string
                        enum:
                        - lt
                      - type: string
                        enum:
                        - gt
                      - type: string
                        enum:
                        - lte
                      - type: string
                        enum:
                        - gte
                    field:
                      type: string
                    value:
                      oneOf:
                      - type: string
                      - type: number
                      - type: boolean
                  required:
                  - operator
                  - field
                  - value
              type:
                type: string
                enum:
                - CHAIN_MESSAGE
            required:
            - notificationChannelId
            - name
            - enabled
            - summary
            - description
            - id
            - userId
            - status
            - createdAt
            - updatedAt
            - conditions
            - type
          - type: object
            properties:
              notificationChannelId:
                type: string
                format: uuid
              name:
                type: string
                minLength: 3
              enabled:
                type: boolean
              summary:
                type: string
                minLength: 3
              description:
                type: string
                minLength: 3
              id:
                type: string
                format: uuid
              userId:
                type: string
                format: uuid
              notificationChannelName:
                type: string
              status:
                type: string
              createdAt: {}
              updatedAt: {}
              params:
                type: object
                properties:
                  dseq:
                    type: string
                    pattern: ^\d+$
                  type:
                    type: string
                  suppressedBySystem:
                    type: boolean
                required:
                - dseq
                - type
              conditions:
                oneOf:
                - type: object
                  properties:
                    operator:
                      type: string
                      enum:
                      - and
                    value:
                      type: array
                      minItems: 2
                      items:
                        type: object
                        properties:
                          operator:
                            oneOf:
                            - type: string
                              enum:
                              - eq
                            - type: string
                              enum:
                              - lt
                            - type: string
                              enum:
                              - gt
                            - type: string
                              enum:
                              - lte
                            - type: string
                              enum:
                              - gte
                          field:
                            type: string
                          value:
                            oneOf:
                            - type: string
                            - type: number
                            - type: boolean
                        required:
                        - operator
                        - field
                        - value
                  required:
                  - operator
                  - value
                - type: object
                  properties:
                    operator:
                      type: string
                      enum:
                      - or
                    value:
                      type: array
                      minItems: 2
                      items:
                        type: object
                        properties:
                          operator:
                            oneOf:
                            - type: string
                              enum:
                              - eq
                            - type: string
                              enum:
                              - lt
                            - type: string
                              enum:
                              - gt
                            - type: string
                              enum:
                              - lte
                            - type: string
                              enum:
                              - gte
                          field:
                            type: string
                          value:
                            oneOf:
                            - type: string
                            - type: number
                            - type: boolean
                        required:
                        - operator
                        - field
                        - value
                  required:
                  - operator
                  - value
                - type: object
                  properties:
                    operator:
                      oneOf:
                      - type: string
                        enum:
                        - eq
                      - type: string
                        enum:
                        - lt
                      - type: string
                        enum:
                        - gt
                      - type: string
                        enum:
                        - lte
                      - type: string
                        enum:
                        - gte
                    field:
                      type: string
                    value:
                      oneOf:
                      - type: string
                      - type: number
                      - type: boolean
                  required:
                  - operator
                  - field
                  - value
              type:
                type: string
                enum:
                - CHAIN_EVENT
            required:
            - notificationChannelId
            - name
            - enabled
            - summary
            - description
            - id
            - userId
            - status
            - createdAt
            - updatedAt
            - conditions
            - type
          - type: object
            properties:
              notificationChannelId:
                type: string
                format: uuid
              name:
                type: string
                minLength: 3
              enabled:
                type: boolean
              summary:
                type: string
                minLength: 3
              description:
                type: string
                minLength: 3
              id:
                type: string
                format: uuid
              userId:
                type: string
                format: uuid
              notificationChannelName:
                type: string
              status:
                type: string
              createdAt: {}
              updatedAt: {}
              type:
                type: string
                enum:
                - DEPLOYMENT_BALANCE
              conditions:
                oneOf:
                - type: object
                  properties:
                    operator:
                      type: string
                      enum:
                      - and
                    value:
                      type: array
                      minItems: 2
                      items:
                        type: object
                        properties:
                          operator:
                            oneOf:
                            - type: string
                              enum:
                              - eq
                            - type: string
                              enum:
                              - lt
                            - type: string
                              enum:
                              - gt
                            - type: string
                              enum:
                              - lte
                            - type: string
                              enum:
                              - gte
                          field:
                            type: string
                            enum:
                            - balance
                          value:
                            type: number
                        required:
                        - operator
                        - field
                        - value
                  required:
                  - operator
                  - value
                - type: object
                  properties:
                    operator:
                      type: string
                      enum:
                      - or
                    value:
                      type: array
                      minItems: 2
                      items:
                        type: object
                        properties:
                          operator:
                            oneOf:
                            - type: string
                              enum:
                              - eq
                            - type: string
                              enum:
                              - lt
                            - type: string
                              enum:
                              - gt
                            - type: string
                              enum:
                              - lte
                            - type: string
                              enum:
                              - gte
                          field:
                            type: string
                            enum:
                            - balance
                          value:
                            type: number
                        required:
                        - operator
                        - field
                        - value
                  required:
                  - operator
                  - value
                - type: object
                  properties:
                    operator:
                      oneOf:
                      - type: string
                        enum:
                        - eq
                      - type: string
                        enum:
                        - lt
                      - type: string
                        enum:
                        - gt
                      - type: string
                        enum:
                        - lte
                      - type: string
                        enum:
                        - gte
                    field:
                      type: string
                      enum:
                      - balance
                    value:
                      type: number
                  required:
                  - operator
                  - field
                  - value
              params:
                type: object
                properties:
                  dseq:
                    type: string
                    pattern: ^\d+$
                  owner:
                    type: string
                  suppressedBySystem:
                    type: boolean
                required:
                - dseq
                - owner
            required:
            - notificationChannelId
            - name
            - enabled
            - summary
            - description
            - id
            - userId
            - status
            - createdAt
            - updatedAt
            - type
            - conditions
            - params
          - type: object
            properties:
              notificationChannelId:
                type: string
                format: uuid
              name:
                type: string
                minLength: 3
              enabled:
                type: boolean
              summary:
                type: string
                minLength: 3
              description:
                type: string
                minLength: 3
              id:
                type: string
                format: uuid
              userId:
                type: string
                format: uuid
              notificationChannelName:
                type: string
              status:
                type: string
              createdAt: {}
              updatedAt: {}
              type:
                type: string
                enum:
                - WALLET_BALANCE
              conditions:
                oneOf:
                - type: object
                  properties:
                    operator:
                      type: string
                      enum:
                      - and
                    value:
                      type: array
                      minItems: 2
                      items:
                        type: object
                        properties:
                          operator:
                            oneOf:
                            - type: string
                              enum:
                              - eq
                            - type: string
                              enum:
                              - lt
                            - type: string
                              enum:
                              - gt
                            - type: string
                              enum:
                              - lte
                            - type: string
                              enum:
                              - gte
                          field:
                            type: string
                            enum:
                            - balance
                          value:
                            type: number
                        required:
                        - operator
                        - field
                        - value
                  required:
                  - operator
                  - value
                - type: object
                  properties:
                    operator:
                      type: string
                      enum:
                      - or
                    value:
                      type: array
                      minItems: 2
                      items:
                        type: object
                        properties:
                          operator:
                            oneOf:
                            - type: string
                              enum:
                              - eq
                            - type: string
                              enum:
                              - lt
                            - type: string
                              enum:
                              - gt
                            - type: string
                              enum:
                              - lte
                            - type: string
                              enum:
                              - gte
                          field:
                            type: string
                            enum:
                            - balance
                          value:
                            type: number
                        required:
                        - operator
                        - field
                        - value
                  required:
                  - operator
                  - value
                - type: object
                  properties:
                    operator:
                      oneOf:
                      - type: string
                        enum:
                        - eq
                      - type: string
                        enum:
                        - lt
                      - type: string
                        enum:
                        - gt
                      - type: string
                        enum:
                        - lte
                      - type: string
                        enum:
                        - gte
                    field:
                      type: string
                      enum:
                      - balance
                    value:
                      type: number
                  required:
                  - operator
                  - field
                  - value
              params:
                type: object
                properties:
                  owner:
                    type: string
                  denom:
                    type: string
                  suppressedBySystem:
                    type: boolean
                required:
                - owner
                - denom
            required:
            - notificationChannelId
            - name
            - enabled
            - summary
            - description
            - id
            - userId
            - status
            - createdAt
            - updatedAt
            - type
            - conditions
            - params
      required:
      - data
    AlertCreateInput:
      type: object
      properties:
        data:
          oneOf:
          - type: object
            properties:
              notificationChannelId:
                type: string
                format: uuid
              name:
                type: string
                minLength: 3
              enabled:
                type: boolean
                default: true
              summary:
                type: string
                minLength: 3
              description:
                type: string
                minLength: 3
              params:
                type: object
                properties:
                  dseq:
                    type: string
                    pattern: ^\d+$
                  type:
                    type: string
                  suppressedBySystem:
                    type: boolean
                required:
                - dseq
                - type
              conditions:
                oneOf:
                - type: object
                  properties:
                    operator:
                      type: string
                      enum:
                      - and
                    value:
                      type: array
                      minItems: 2
                      items:
                        type: object
                        properties:
                          operator:
                            oneOf:
                            - type: string
                              enum:
                              - eq
                            - type: string
                              enum:
                              - lt
                            - type: string
                              enum:
                              - gt
                            - type: string
                              enum:
                              - lte
                            - type: string
                              enum:
                              - gte
                          field:
                            type: string
                          value:
                            oneOf:
                            - type: string
                            - type: number
                            - type: boolean
                        required:
                        - operator
                        - field
                        - value
                  required:
                  - operator
                  - value
                - type: object
                  properties:
                    operator:
                      type: string
                      enum:
                      - or
                    value:
                      type: array
                      minItems: 2
                      items:
                        type: object
                        properties:
                          operator:
                            oneOf:
                            - type: string
                              enum:
                              - eq
                            - type: string
                              enum:
                              - lt
                            - type: string
                              enum:
                              - gt
                            - type: string
                              enum:
                              - lte
                            - type: string
                              enum:
                              - gte
                          field:
                            type: string
                          value:
                            oneOf:
                            - type: string
                            - type: number
                            - type: boolean
                        required:
                        - operator
                        - field
                        - value
                  required:
                  - operator
                  - value
                - type: object
                  properties:
                    operator:
                      oneOf:
                      - type: string
                        enum:
                        - eq
                      - type: string
                        enum:
                        - lt
                      - type: string
                        enum:
                        - gt
                      - type: string
                        enum:
                        - lte
                      - type: string
                        enum:
                        - gte
                    field:
                      type: string
                    value:
                      oneOf:
                      - type: string
                      - type: number
                      - type: boolean
                  required:
                  - operator
                  - field
                  - value
              type:
                type: string
                enum:
                - CHAIN_MESSAGE
            required:
            - notificationChannelId
            - name
            - summary
            - description
            - conditions
            - type
          - type: object
            properties:
              notificationChannelId:
                type: string
                format: uuid
              name:
                type: string
                minLength: 3
              enabled:
                type: boolean
                default: true
              summary:
                type: string
                minLength: 3
              description:
                type: string
                minLength: 3
              params:
                type: object
                properties:
                  dseq:
                    type: string
                    pattern: ^\d+$
                  type:
                    type: string
                  suppressedBySystem:
                    type: boolean
                required:
                - dseq
                - type
              conditions:
                oneOf:
                - type: object
                  properties:
                    operator:
                      type: string
                      enum:
                      - and
                    value:
                      type: array
                      minItems: 2
                      items:
                        type: object
                        properties:
                          operator:
                            oneOf:
                            - type: string
                              enum:
                              - eq
                            - type: string
                              enum:
                              - lt
                            - type: string
                              enum:
                              - gt
                            - type: string
                              enum:
                              - lte
                            - type: string
                              enum:
                              - gte
                          field:
                            type: string
                          value:
                            oneOf:
                            - type: string
                            - type: number
                            - type: boolean
                        required:
                        - operator
                        - field
                        - value
                  required:
                  - operator
                  - value
                - type: object
                  properties:
                    operator:
                      type: string
                      enum:
                      - or
                    value:
                      type: array
                      minItems: 2
                      items:
                        type: object
                        properties:
                          operator:
                            oneOf:
                            - type: string
                              enum:
                              - eq
                            - type: string
                              enum:
                              - lt
                            - type: string
                              enum:
                              - gt
                            - type: string
                              enum:
                              - lte
                            - type: string
                              enum:
                              - gte
                          field:
                            type: string
                          value:
                            oneOf:
                            - type: string
                            - type: number
                            - type: boolean
                        required:
                        - operator
                        - field
                        - value
                  required:
                  - operator
                  - value
                - type: object
                  properties:
                    operator:
                      oneOf:
                      - type: string
                        enum:
                        - eq
                      - type: string
                        enum:
                        - lt
                      - type: string
                        enum:
                        - gt
                      - type: string
                        enum:
                        - lte
                      - type: string
                        enum:
                        - gte
                    field:
                      type: string
                    value:
                      oneOf:
                      - type: string
                      - type: number
                      - type: boolean
                  required:
                  - operator
                  - field
                  - value
              type:
                type: string
                enum:
                - CHAIN_EVENT
            required:
            - notificationChannelId
            - name
            - summary
            - description
            - conditions
            - type
          - type: object
            properties:
              notificationChannelId:
                type: string
                format: uuid
              name:
                type: string
                minLength: 3
              enabled:
                type: boolean
                default: true
              summary:
                type: string
                minLength: 3
              description:
                type: string
                minLength: 3
              type:
                type: string
                enum:
                - DEPLOYMENT_BALANCE
              conditions:
                oneOf:
                - type: object
                  properties:
                    operator:
                      type: string
                      enum:
                      - and
                    value:
                      type: array
                      minItems: 2
                      items:
                        type: object
                        properties:
                          operator:
                            oneOf:
                            - type: string
                              enum:
                              - eq
                            - type: string
                              enum:
                              - lt
                            - type: string
                              enum:
                              - gt
                            - type: string
                              enum:
                              - lte
                            - type: string
                              enum:
                              - gte
                          field:
                            type: string
                            enum:
                            - balance
                          value:
                            type: number
                        required:
                        - operator
                        - field
                        - value
                  required:
                  - operator
                  - value
                - type: object
                  properties:
                    operator:
                      type: string
                      enum:
                      - or
                    value:
                      type: array
                      minItems: 2
                      items:
                        type: object
                        properties:
                          operator:
                            oneOf:
                            - type: string
                              enum:
                              - eq
                            - type: string
                              enum:
                              - lt
                            - type: string
                              enum:
                              - gt
                            - type: string
                              enum:
                              - lte
                            - type: string
                              enum:
                              - gte
                          field:
                            type: string
                            enum:
                            - balance
                          value:
                            type: number
                        required:
                        - operator
                        - field
                        - value
                  required:
                  - operator
                  - value
                - type: object
                  properties:
                    operator:
                      oneOf:
                      - type: string
                        enum:
                        - eq
                      - type: string
                        enum:
                        - lt
                      - type: string
                        enum:
                        - gt
                      - type: string
                        enum:
                        - lte
                      - type: string
                        enum:
                        - gte
                    field:
                      type: string
                      enum:
                      - balance
                    value:
                      type: number
                  required:
                  - operator
                  - field
                  - value
              params:
                type: object
                properties:
                  dseq:
                    type: string
                    pattern: ^\d+$
                  owner:
                    type: string
                  suppressedBySystem:
                    type: boolean
                required:
                - dseq
                - owner
            required:
            - notificationChannelId
            - name
            - summary
            - description
            - type
            - conditions
            - params
          - type: object
            properties:
              notificationChannelId:
                type: string
                format: uuid
              name:
                type: string
                minLength: 3
              enabled:
                type: boolean
                default: true
              summary:
                type: string
                minLength: 3
              description:
                type: string
                minLength: 3
              type:
                type: string
                enum:
                - WALLET_BALANCE
              conditions:
                oneOf:
                - type: object
                  properties:
                    operator:
                      type: string
                      enum:
                      - and
                    value:
                      type: array
                      minItems: 2
                      items:
                        type: object
                        properties:
                          operator:
                            oneOf:
                            - type: string
                              enum:
                              - eq
                            - type: string
                              enum:
                              - lt
                            - type: string
                              enum:
                              - gt
                            - type: string
                              enum:
                              - lte
                            - type: string
                              enum:
                              - gte
                          field:
                            type: string
                            enum:
                            - balance
                          value:
                            type: number
                        required:
                        - operator
                        - field
                        - value
                  required:
                  - operator
                  - value
                - type: object
                  properties:
                    operator:
                      type: string
                      enum:
                      - or
                    value:
                      type: array
                      minItems: 2
                      items:
                        type: object
                        properties:
                          operator:
                            oneOf:
                            - type: string
                              enum:
                              - eq
                            - type: string
                              enum:
                              - lt
                            - type: string
                              enum:
                              - gt
                            - type: string
                              enum:
                              - lte
                            - type: string
                              enum:
                              - gte
                          field:
                            type: string
                            enum:
                            - balance
                          value:
                            type: number
                        required:
                        - operator
                        - field
                        - value
                  required:
                  - operator
                  - value
                - type: object
                  properties:
                    operator:
                      oneOf:
                      - type: string
                        enum:
                        - eq
                      - type: string
                        enum:
                        - lt
                      - type: string
                        enum:
                        - gt
                      - type: string
                        enum:
                        - lte
                      - type: string
                        enum:
                        - gte
                    field:
                      type: string
                      enum:
                      - balance
                    value:
                      type: number
                  required:
                  - operator
                  - field
                  - value
              params:
                type: object
                properties:
                  owner:
                    type: string
                  denom:
                    type: string
                  suppressedBySystem:
                    type: boolean
                required:
                - owner
                - denom
            required:
            - notificationChannelId
            - name
            - summary
            - description
            - type
            - conditions
            - params
      required:
      - data
    AlertListOutputResponse:
      type: object
      properties:
        data:
          type: array
          items:
            oneOf:
            - type: object
              properties:
                notificationChannelId:
                  type: string
                  format: uuid
                name:
                  type: string
                  minLength: 3
                enabled:
                  type: boolean
                summary:
                  type: string
                  minLength: 3
                description:
                  type: string
                  minLength: 3
                id:
                  type: string
                  format: uuid
                userId:
                  type: string
                  format: uuid
                notificationChannelName:
                  type: string
                status:
                  type: string
                createdAt: {}
                updatedAt: {}
                params:
                  type: object
                  properties:
                    dseq:
                      type: string
                      pattern: ^\d+$
                    type:
                      type: string
                    suppressedBySystem:
                      type: boolean
                  required:
                  - dseq
                  - type
                conditions:
                  oneOf:
                  - type: object
                    properties:
                      operator:
                        type: string
                        enum:
                        - and
                      value:
                        type: array
                        minItems: 2
                        items:
                          type: object
                          properties:
                            operator:
                              oneOf:
                              - type: string
                                enum:
                                - eq
                              - type: string
                                enum:
                                - lt
                              - type: string
                                enum:
                                - gt
                              - type: string
                                enum:
                                - lte
                              - type: string
                                enum:
                                - gte
                            field:
                              type: string
                            value:
                              oneOf:
                              - type: string
                              - type: number
                              - type: boolean
                          required:
                          - operator
                          - field
                          - value
                    required:
                    - operator
                    - value
                  - type: object
                    properties:
                      operator:
                        type: string
                        enum:
                        - or
                      value:
                        type: array
                        minItems: 2
                        items:
                          type: object
                          properties:
                            operator:
                              oneOf:
                              - type: string
                                enum:
                                - eq
                              - type: string
                                enum:
                                - lt
                              - type: string
                                enum:
                                - gt
                              - type: string
                                enum:
                                - lte
                              - type: string
                                enum:
                                - gte
                            field:
                              type: string
                            value:
                              oneOf:
                              - type: string
                              - type: number
                              - type: boolean
                          required:
                          - operator
                          - field
                          - value
                    required:
                    - operator
                    - value
                  - type: object
                    properties:
                      operator:
                        oneOf:
                        - type: string
                          enum:
                          - eq
                        - type: string
                          enum:
                          - lt
                        - type: string
                          enum:
                          - gt
                        - type: string
                          enum:
                          - lte
                        - type: string
                          enum:
                          - gte
                      field:
                        type: string
                      value:
                        oneOf:
                        - type: string
                        - type: number
                        - type: boolean
                    required:
                    - operator
                    - field
                    - value
                type:
                  type: string
                  enum:
                  - CHAIN_MESSAGE
              required:
              - notificationChannelId
              - name
              - enabled
              - summary
              - description
              - id
              - userId
              - status
              - createdAt
              - updatedAt
              - conditions
              - type
            - type: object
              properties:
                notificationChannelId:
                  type: string
                  format: uuid
                name:
                  type: string
                  minLength: 3
                enabled:
                  type: boolean
                summary:
                  type: string
                  minLength: 3
                description:
                  type: string
                  minLength: 3
                id:
                  type: string
                  format: uuid
                userId:
                  type: string
                  format: uuid
                notificationChannelName:
                  type: string
                status:
                  type: string
                createdAt: {}
                updatedAt: {}
                params:
                  type: object
                  properties:
                    dseq:
                      type: string
                      pattern: ^\d+$
                    type:
                      type: string
                    suppressedBySystem:
                      type: boolean
                  required:
                  - dseq
                  - type
                conditions:
                  oneOf:
                  - type: object
                    properties:
                      operator:
                        type: string
                        enum:
                        - and
                      value:
                        type: array
                        minItems: 2
                        items:
                          type: object
                          properties:
                            operator:
                              oneOf:
                              - type: string
                                enum:
                                - eq
                              - type: string
                                enum:
                                - lt
                              - type: string
                                enum:
                                - gt
                              - type: string
                                enum:
                                - lte
                              - type: string
                                enum:
                                - gte
                            field:
                              type: string
                            value:
                              oneOf:
                              - type: string
                              - type: number
                              - type: boolean
                          required:
                          - operator
                          - field
                          - value
                    required:
                    - operator
                    - value
                  - type: object
                    properties:
                      operator:
                        type: string
                        enum:
                        - or
                      value:
                        type: array
                        minItems: 2
                        items:
                          type: object
                          properties:
                            operator:
                              oneOf:
                              - type: string
                                enum:
                                - eq
                              - type: string
                                enum:
                                - lt
                              - type: string
                                enum:
                                - gt
                              - type: string
                                enum:
                                - lte
                              - type: string
                                enum:
                                - gte
                            field:
                              type: string
                            value:
                              oneOf:
                              - type: string
                              - type: number
                              - type: boolean
                          required:
                          - operator
                          - field
                          - value
                    required:
                    - operator
                    - value
                  - type: object
                    properties:
                      operator:
                        oneOf:
                        - type: string
                          enum:
                          - eq
                        - type: string
                          enum:
                          - lt
                        - type: string
                          enum:
                          - gt
                        - type: string
                          enum:
                          - lte
                        - type: string
                          enum:
                          - gte
                      field:
                        type: string
                      value:
                        oneOf:
                        - type: string
                        - type: number
                        - type: boolean
                    required:
                    - operator
                    - field
                    - value
                type:
                  type: string
                  enum:
                  - CHAIN_EVENT
              required:
              - notificationChannelId
              - name
              - enabled
              - summary
              - description
              - id
              - userId
              - status
              - createdAt
              - updatedAt
              - conditions
              - type
            - type: object
              properties:
                notificationChannelId:
                  type: string
                  format: uuid
                name:
                  type: string
                  minLength: 3
                enabled:
                  type: boolean
                summary:
                  type: string
                  minLength: 3
                description:
                  type: string
                  minLength: 3
                id:
                  type: string
                  format: uuid
                userId:
                  type: string
                  format: uuid
                notificationChannelName:
                  type: string
                status:
                  type: string
                createdAt: {}
                updatedAt: {}
                type:
                  type: string
                  enum:
                  - DEPLOYMENT_BALANCE
                conditions:
                  oneOf:
                  - type: object
                    properties:
                      operator:
                        type: string
                        enum:
                        - and
                      value:
                        type: array
                        minItems: 2
                        items:
                          type: object
                          properties:
                            operator:
                              oneOf:
                              - type: string
                                enum:
                                - eq
                              - type: string
                                enum:
                                - lt
                              - type: string
                                enum:
                                - gt
                              - type: string
                                enum:
                                - lte
                              - type: string
                                enum:
                                - gte
                            field:
                              type: string
                              enum:
                              - balance
                            value:
                              type: number
                          required:
                          - operator
                          - field
                          - value
                    required:
                    - operator
                    - value
                  - type: object
                    properties:
                      operator:
                        type: string
                        enum:
                        - or
                      value:
                        type: array
                        minItems: 2
                        items:
                          type: object
                          properties:
                            operator:
                              oneOf:
                              - type: string
                                enum:
                                - eq
                              - type: string
                                enum:
                                - lt
                              - type: string
                                enum:
                                - gt
                              - type: string
                                enum:
                                - lte
                              - type: string
                                enum:
                                - gte
                            field:
                              type: string
                              enum:
                              - balance
                            value:
                              type: number
                          required:
                          - operator
                          - field
                          - value
                    required:
                    - operator
                    - value
                  - type: object
                    properties:
                      operator:
                        oneOf:
                        - type: string
                          enum:
                          - eq
                        - type: string
                          enum:
                          - lt
                        - type: string
                          enum:
                          - gt
                        - type: string
                          enum:
                          - lte
                        - type: string
                          enum:
                          - gte
                      field:
                        type: string
                        enum:
                        - balance
                      value:
                        type: number
                    required:
                    - operator
                    - field
                    - value
                params:
                  type: object
                  properties:
                    dseq:
                      type: string
                      pattern: ^\d+$
                    owner:
                      type: string
                    suppressedBySystem:
                      type: boolean
                  required:
                  - dseq
                  - owner
              required:
              - notificationChannelId
              - name
              - enabled
              - summary
              - description
              - id
              - userId
              - status
              - createdAt
              - updatedAt
              - type
              - conditions
              - params
            - type: object
              properties:
                notificationChannelId:
                  type: string
                  format: uuid
                name:
                  type: string
                  minLength: 3
                enabled:
                  type: boolean
                summary:
                  type: string
                  minLength: 3
                description:
                  type: string
                  minLength: 3
                id:
                  type: string
                  format: uuid
                userId:
                  type: string
                  format: uuid
                notificationChannelName:
                  type: string
                status:
                  type: string
                createdAt: {}
                updatedAt: {}
                type:
                  type: string
                  enum:
                  - WALLET_BALANCE
                conditions:
                  oneOf:
                  - type: object
                    properties:
                      operator:
                        type: string
                        enum:
                        - and
                      value:
                        type: array
                        minItems: 2
                        items:
                          type: object
                          properties:
                            operator:
                              oneOf:
                              - type: string
                                enum:
                                - eq
                              - type: string
                                enum:
                                - lt
                              - type: string
                                enum:
                                - gt
                              - type: string
                                enum:
                                - lte
                              - type: string
                                enum:
                                - gte
                            field:
                              type: string
                              enum:
                              - balance
                            value:
                              type: number
                          required:
                          - operator
                          - field
                          - value
                    required:
                    - operator
                    - value
                  - type: object
                    properties:
                      operator:
                        type: string
                        enum:
                        - or
                      value:
                        type: array
                        minItems: 2
                        items:
                          type: object
                          properties:
                            operator:
                              oneOf:
                              - type: string
                                enum:
                                - eq
                              - type: string
                                enum:
                                - lt
                              - type: string
                                enum:
                                - gt
                              - type: string
                                enum:
                                - lte
                              - type: string
                                enum:
                                - gte
                            field:
                              type: string
                              enum:
                              - balance
                            value:
                              type: number
                          required:
                          - operator
                          - field
                          - value
                    required:
                    - operator
                    - value
                  - type: object
                    properties:
                      operator:
                        oneOf:
                        - type: string
                          enum:
                          - eq
                        - type: string
                          enum:
                          - lt
                        - type: string
                          enum:
                          - gt
                        - type: string
                          enum:
                          - lte
                        - type: string
                          enum:
                          - gte
                      field:
                        type: string
                        enum:
                        - balance
                      value:
                        type: number
                    required:
                    - operator
                    - field
                    - value
                params:
                  type: object
                  properties:
                    owner:
                      type: string
                    denom:
                      type: string
                    suppressedBySystem:
                      type: boolean
                  required:
                  - owner
                  - denom
              required:
              - notificationChannelId
              - name
              - enabled
              - summary
              - description
              - id
              - userId
              - status
              - createdAt
              - updatedAt
              - type
              - conditions
              - params
        pagination:
          type: object
          properties:
            page:
              type: number
              minimum: 0
            limit:
              type: number
              minimum: 0
              maximum: 1000
            total:
              type: number
              minimum: 0
            totalPages:
              type: number
              minimum: 0
            hasNextPage:
              type: boolean
            hasPreviousPage:
              type: boolean
          required:
          - page
          - limit
          - total
          - totalPages
          - hasNextPage
          - hasPreviousPage
      required:
      - data
      - pagination
    UnauthorizedErrorResponse:
      type: object
      properties:
        statusCode:
          type: number
          minimum: 401
          maximum: 401
        message:
          type: string
      required:
      - statusCode
      - message
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT token for authenticated users, sent in "Authorization: Bearer %token" header.'
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for programmatic access.
    x-user-id:
      type: apiKey
      in: header
      name: x-user-id
    x-owner-address:
      type: apiKey
      in: header
      name: x-owner-address
