openapi: 3.2.0
info:
  title: Akash Network Console Validators API
  description: API providing data to the Akash Network Console
  version: v1
servers:
- url: https://console-api-sandbox.akash.network
tags:
- name: Validators
paths:
  /v1/validators:
    get:
      tags:
      - Validators
      security: []
      responses:
        '200':
          description: Returns validators
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    operatorAddress:
                      type: string
                    moniker:
                      type: string
                    votingPower:
                      type: number
                    commission:
                      type: number
                    identity:
                      type: string
                    votingPowerRatio:
                      type: number
                    rank:
                      type: number
                    keybaseAvatarUrl:
                      type:
                      - string
                      - 'null'
                  required:
                  - operatorAddress
                  - moniker
                  - votingPower
                  - commission
                  - identity
                  - votingPowerRatio
                  - rank
                  - keybaseAvatarUrl
      summary: Get validators
      x-summary-source: derived
      operationId: getV1Validators
      x-operation-id-source: derived
  /v1/validators/{address}:
    get:
      tags:
      - Validators
      security: []
      parameters:
      - schema:
          type: string
          description: Validator Address
          example: akashvaloper14mt78hz73d9tdwpdvkd59ne9509kxw8yj7qy8f
        required: true
        name: address
        in: path
      responses:
        '200':
          description: Return a validator information
          content:
            application/json:
              schema:
                type: object
                properties:
                  operatorAddress:
                    type: string
                  address:
                    type:
                    - string
                    - 'null'
                  moniker:
                    type: string
                  keybaseUsername:
                    type:
                    - string
                    - 'null'
                  keybaseAvatarUrl:
                    type:
                    - string
                    - 'null'
                  votingPower:
                    type: number
                  commission:
                    type: number
                  maxCommission:
                    type: number
                  maxCommissionChange:
                    type: number
                  identity:
                    type: string
                  description:
                    type: string
                  website:
                    type: string
                  rank:
                    type: number
                required:
                - operatorAddress
                - address
                - moniker
                - keybaseUsername
                - keybaseAvatarUrl
                - votingPower
                - commission
                - maxCommission
                - maxCommissionChange
                - identity
                - description
                - website
                - rank
        '400':
          description: Invalid address
        '404':
          description: Validator not found
      summary: Get validators by address
      x-summary-source: derived
      operationId: getV1ValidatorsByAddress
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT token for authenticated users, sent in "Authorization: Bearer %token" header.'
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for programmatic access.
    x-user-id:
      type: apiKey
      in: header
      name: x-user-id
    x-owner-address:
      type: apiKey
      in: header
      name: x-owner-address
