openapi: 3.2.0
info:
  title: Akash Network Console Proposals API
  description: API providing data to the Akash Network Console
  version: v1
servers:
- url: https://console-api-sandbox.akash.network
tags:
- name: Proposals
paths:
  /v1/proposals:
    get:
      tags:
      - Proposals
      security: []
      responses:
        '200':
          description: Returns a list of proposals
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    title:
                      type: string
                    status:
                      type: string
                    submitTime:
                      type: string
                    votingStartTime:
                      type: string
                    votingEndTime:
                      type: string
                    totalDeposit:
                      type: number
                  required:
                  - id
                  - title
                  - status
                  - submitTime
                  - votingStartTime
                  - votingEndTime
                  - totalDeposit
      summary: Get proposals
      x-summary-source: derived
      operationId: getV1Proposals
      x-operation-id-source: derived
  /v1/proposals/{id}:
    get:
      tags:
      - Proposals
      security: []
      parameters:
      - schema:
          type:
          - number
          - 'null'
          description: Proposal ID
          example: 1
        required: false
        name: id
        in: path
      responses:
        '200':
          description: Return a proposal by id
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                  title:
                    type: string
                  description:
                    type: string
                  status:
                    type: string
                  submitTime:
                    type: string
                  votingStartTime:
                    type: string
                  votingEndTime:
                    type: string
                  totalDeposit:
                    type: number
                  tally:
                    type: object
                    properties:
                      'yes':
                        type: number
                      abstain:
                        type: number
                      'no':
                        type: number
                      noWithVeto:
                        type: number
                      total:
                        type: number
                    required:
                    - 'yes'
                    - abstain
                    - 'no'
                    - noWithVeto
                    - total
                  paramChanges:
                    type: array
                    items:
                      type: object
                      properties:
                        subspace:
                          type: string
                        key:
                          type: string
                        value: {}
                      required:
                      - subspace
                      - key
                required:
                - id
                - title
                - description
                - status
                - submitTime
                - votingStartTime
                - votingEndTime
                - totalDeposit
                - tally
                - paramChanges
        '400':
          description: Invalid proposal id
        '404':
          description: Proposal not found
      summary: Get proposals by id
      x-summary-source: derived
      operationId: getV1ProposalsById
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT token for authenticated users, sent in "Authorization: Bearer %token" header.'
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key for programmatic access.
    x-user-id:
      type: apiKey
      in: header
      name: x-user-id
    x-owner-address:
      type: apiKey
      in: header
      name: x-owner-address
